  html {
    box-sizing:content-box;
    padding: 10px;;
    margin:20px;
    max-width: 100% ;
  }
  head {
    box-sizing:content-box;
    max-width:100%;
    font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  h1 {
    border: 2px;
    border-color: blue;
    border-style: dotted;
    margin: 10px;
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
  }
  .Portfolio {
   display:inline;
   width:300px;
   height:200px;
  }
  h2,h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    font-display:rgb(60, 28, 28);
  }
  p {
   font-family: 'Courier New', Courier, monospace;
   font-size: medium;
   font-display:rgb(1, 1, 34); 
  }
  
  body {
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
  }
  img {
    display:flex;
    border: 5px rgb(39, 2, 2);
    border-radius: 8px;
    margin-bottom: 20px;
    max-width: 30%;
    max-height: 30%;
  }
   h4,h5 {
    font-style:italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:smaller;
    font-display:grey;
   }
  .header {
    box-sizing: content-box;
    border-top-color: #13293d;
    display:flex;
    margin:0;
    padding: left 2%; ;
  }
    .footer {
    display:inline-block;
    border:8px
    padding: 20px;
    font-family:Franklin Gothic Medium
    text-align: center;
    background: #13293d;
    color: #621be6;
  }

  